.skills{
  padding: 50px 10%;
  position: relative;
}

.skills h2{
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--text-color-dark);
  margin-bottom: 40px;
}

.skills-grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 40px;
}

.skill-card{
  text-align: center;
  color: var(--text-color-dark);
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.skill-card .skill-icon{
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.skill-card p{
  font-size: 1.25rem;
}

.bg-blur{
  position: absolute;
  top: -30%;
  left: -6%;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  background-color: #B8E1EF;
  z-index: -1;
  filter: blur(100px);
}

.bg-blur-bottom{
  position: absolute;
  bottom: 0;
  right: -20%;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  background-color: #f6f1cf;
  z-index: -1;
  filter: blur(150px);
}